$primary-color: #366734;

.login-form-container{
    display: flex;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 34%;
    
}

.login-title{
    padding-left:20%;
    border-bottom: solid $primary-color 1px;
    h2{
        margin-bottom:0px;
    }
}

#user_login{
    margin-left: 30px;
}


.login-wrapper{
    background-color: #d2d4d8;
    padding: 40px;
    width: 397px;
    border: solid black 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 18px #888888;
}

#front-end-login{
    font-size: larger;
    margin-left: 10%;
    color: white;
    background-color: #366734;
    width: 80%;
    height: 43px;

}

